PROXY_PORT=3001
NASA_FIRMS_MAP_KEY=
CESIUM_ION_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIwMjRkMzUzNC00MzBiLTQyYjAtOGE1MC00YzMyNGI3YjYwZjgiLCJpZCI6NDI4NjQ1LCJpc3MiOiJodHRwczovL2lvbi5jZXNpdW0uY29tIiwiYXVkIjoidW5kZWZpbmVkX2RlZmF1bHQiLCJpYXQiOjE3NzgyMDU1ODl9.uhYV0Em1fzuwmTZcUybpOSPPiE4h57duFMGtyjiMBeE
